@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hero {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/hero_bg_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .hero .carousel, .hero .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .hero .slide {
    max-height: 100%; }
  .hero.content {
    position: absolute;
    z-index: 0; }
    .hero.content .text {
      -moz-animation: fadeIn 1s;
      -webkit-animation: fadeIn 1s;
      -o-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
      animation: fadeIn 1s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      @media (max-width: 767px) {
        .hero.content .text {
          width: 95%; } }
      .hero.content .text .slogan {
        color: #e6b33d;
        font-weight: 500;
        font-size: 18px; }
        @media (max-width: 767px) {
          .hero.content .text .slogan {
            font-size: 12px; } }
      .hero.content .text h1 {
        color: #fff;
        font-size: 52px;
        margin-top: 20px;
        margin-bottom: 25px;
        text-shadow: 2px 2px #353d4f; }
        @media (max-width: 767px) {
          .hero.content .text h1 {
            font-size: 28px; } }
      .hero.content .text .cfp {
        color: #fff;
        margin-top: 30px; }
      .hero.content .text .sub {
        font-size: 18px;
        text-shadow: 1px 1px #353d4f;
        color: #fff; }
        @media (max-width: 767px) {
          .hero.content .text .sub {
            font-size: 12px; } }
        .hero.content .text .sub i {
          text-shadow: 1px 1px #333;
          color: #e6b33d;
          margin-left: 35px;
          margin-right: 7px;
          font-size: 24px; }
          @media (max-width: 767px) {
            .hero.content .text .sub i {
              font-size: 14px; } }
    .hero.content a {
      color: white; }
  .hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #353d4f;
    opacity: 0.85;
    top: 0;
    left: 0;
    z-index: -1; }

.navbar {
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
  margin-top: 40px;
  z-index: 10; }
  .navbar .nav-link {
    color: rgba(255, 255, 255, 0.75) !important;
    font-weight: 400;
    margin-left: 8px;
    margin-right: 8px; }
    .navbar .nav-link:hover {
      color: #e6b33d !important; }
  .navbar form {
    margin-left: 20px; }
    .navbar form .btn-outline-warning {
      color: #e6b33d;
      border-color: #e6b33d;
      padding-left: 35px;
      padding-right: 35px;
      font-weight: 500; }
      .navbar form .btn-outline-warning:hover {
        color: #353d4f; }

.sections {
  margin-top: 80px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; }
  @media (max-width: 767px) {
    .sections {
      margin-top: 5px; } }
  .sections .container {
    margin-top: 30px; }
  .sections h2 {
    font-weight: bold;
    font-size: 40px;
    color: #353d4f;
    position: relative;
    margin-bottom: 40px; }
    .sections h2:after {
      transform: rotateZ(90deg);
      height: 4px;
      width: 60px;
      position: absolute;
      margin-bottom: 2px;
      background-color: #e6b33d;
      left: -35px;
      bottom: 18px;
      content: " "; }
  .sections p {
    color: #a5a7ab;
    font-size: 20px;
    line-height: 1.6; }
  .sections li {
    color: #a5a7ab; }

.event .logo_text {
  margin: 0 auto;
  margin-top: 35px;
  max-height: 100px; }

.event img {
  display: block;
  margin: 0 auto; }

.speakers {
  margin-bottom: 25px; }
  .speakers .speaker {
    text-align: center;
    margin-bottom: 35px; }
    .speakers .speaker .photo {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px; }
    .speakers .speaker .name {
      color: #353d4f;
      font-size: 20px; }
    .speakers .speaker .position {
      color: #e6b33d;
      font-weight: bold; }

.schedule {
  background-color: #353d4f;
  padding-top: 20px;
  padding-bottom: 25px; }
  .schedule h2 {
    color: #fff;
    margin-bottom: 20px; }
  .schedule .track {
    color: #fff;
    font-size: 16px; }
    .schedule .track .title {
      font-size: 22px;
      margin-bottom: 25px;
      border-bottom: 1px solid #fff;
      padding-bottom: 5px; }
    .schedule .track .talks .talk {
      margin-bottom: 20px; }
      .schedule .track .talks .talk .talk-title {
        font-size: 18px;
        font-weight: 500; }
      .schedule .track .talks .talk .talk-speaker {
        margin-top: -6px;
        font-size: 15px; }
      .schedule .track .talks .talk .talk-time {
        margin-top: -4px;
        color: #e6b33d; }

.sponsors {
  margin-bottom: 35px; }
  .sponsors .sponsor {
    margin-top: 20px; }
  .sponsors p:not(:first-of-type) {
    margin-top: 35px; }

.location .indications {
  margin-top: 80px; }

.footer {
  height: 60px;
  width: 100%;
  margin-top: 60px;
  background-color: #07080f;
  color: #a5a7ab; }
  .footer .copyright {
    padding-top: 20px;
    font-size: 14px; }
  @media (max-width: 767px) {
    .footer {
      margin-top: 25px; } }

body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }
