.footer {
  .copyright{
    padding-top: 20px;
    font-size: 14px;
  }
  @include media(mobile) {
    margin-top: 25px;
  }
  height: 60px;
  width: 100%;
  background-color: $footer;
  color: $text-secondary;
  text-align: center;

  a {
    color: $text-primary;
  }
}
