.hero {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/hero_bg_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .carousel, .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slide {
    max-height: 100%;
  }
  &.content {
    position: absolute;
    z-index: 0;

    .text {
      @include fadeIn( 1s );
      @include media(mobile) {
        width: 95%;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .slogan {
        color: $secondary;
        font-weight: 500;
        font-size: 18px;
        @include media(mobile) {
          font-size: 12px;
        }
      }

      h1 {
        color: $text-primary;
        font-size: 52px;
        margin-top: 20px;
        margin-bottom: 25px;
        text-shadow: 2px 2px #353d4f;

        @include media(mobile) {
          font-size: 28px;
        }
      }

      .cfp {
          color: $text-primary;
          margin-top: 30px;
      }

      .sub {
        font-size: 18px;
        text-shadow: 1px 1px $primary;
        @include media(mobile) {
          font-size: 12px;
        }
        i {
          text-shadow: 1px 1px #333;
          color: $secondary;
          margin-left: 35px;
          margin-right: 7px;
          font-size: 24px;
          @include media(mobile) {
            font-size: 14px;
          }
        }
        color: $text-primary;
      }
    }
    a {
      color: white;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $primary;
    opacity: 0.85;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

