.sections {
  @include media(mobile) {
    margin-top: 5px;
  }

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  p {
    color: $text-secondary;
    font-size: 1.07rem;
    line-height: 1.6;
  }

  li {
    color: $text-secondary;
  }

  .section {
    @include media(mobile) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;

    h2 {
      @include media(mobile) {
        font-size: 1.9rem;
      }
      font-size: 2.2rem;
      font-weight: bold;
      color: $primary;
      padding: 5px 0 5px 15px;
      border-left: 4px solid $secondary;
      margin-bottom: 2rem;

      &:not(:first-child) {
        margin-top: 2.8rem;
      }
    }

    &.gray {
      background-color: $gray-bg;
    }

    &.dark {
      background-color: $primary;

      h2 {
        color: $text-primary;
      }

      p, li {
        color: #d5d8dc;
      }

    }
  }

  .event {
    @include media(mobile) {
      padding-top: 2.7rem;
      padding-bottom: 2.7rem;
    }
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;

    h2 {
      margin-bottom: 1.25rem;
    }

    .logo_text {
      margin: 0 auto;
      margin-top: 35px;
      max-height: 100px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .speakers {
    .speaker {
      text-align: center;
      .photo {
        width: 120px;
        max-width: 100%;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .name {
        color: $primary;

        font-size: 20px;
      }
      .position {
        color: $secondary;
        font-weight: bold;
      }
    }
  }

  .schedule {
    .track {
      color: $text-primary;

      .title {
        @include media(mobile) {
          margin-bottom: 0;
        }

        margin-bottom: 0.7rem;
        text-align: center;
        font-size: 1.3rem;
        background-color: #323949;
        padding: 0.6rem;
      }

      .talks {
        display: flex;
        justify-content: space-between;
        @include media(mobile) {
          flex-direction: column;
        }

        .talk {
          @include media(mobile) {
            width: 100%;
            margin-bottom: 1px;
          }
          width: 32%;
          padding: 0.6rem;
          background-color: #3c4557;
          text-align: center;
          .talk-title {
            font-size: 18px;
            font-weight: 500;
          }
          .talk-speaker {
            margin-top: -6px;
            font-size: 15px;
          }
          .talk-time {
            margin-top: -4px;
            color: $secondary;
          }
        }
      }
    }
  }

  .location {
    .map-container {
      iframe {
        width: 100%;
      }
    }
    .indications {
      @media (max-width: $desktop) {
        margin-top: 1.5rem;
      }
    }
  }

  .tickets {}

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      width: 20rem;
      margin-left: 1rem;
      margin-right: 1rem;

      img {
        max-width: 100%;
      }
    }
  }

}
