@import "_variables.scss";
@import "_breakpoints.scss";
@import "_animations.scss";
@import "_hero.scss";
@import "_navbar.scss";
@import "_sections.scss";
@import "_footer.scss";
body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
